{% include 'header.html' %}
<body>
    <div class="container-fluid mt-5 pt-5">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="box p-3 col-md-4">
                <h3>📩 Donner un Feedback / Contactez un administrateur</h3>
                <form id="feedbackform">
                    {{ csrf_token() }}
                    <textarea name="message" class="form-control mb-2" placeholder="Votre message ici..." required></textarea>
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        document.getElementById("feedbackform").addEventListener("submit", function(event) {
            event.preventDefault();
            fetch("{{ url_for('general_controller.communication') }}", {
                method: "POST",
                body: new FormData(this)
            })
            .then(response => response.json())
            .then(data => alert(data.message))
            .catch(error => console.error("Erreur:", error));
        });
    </script>
    {% include 'footer.html' %}
</body>
</html>
