{% include 'header.html' %}
<body>
    <div class="container-fluid mt-5 pt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="box p-4">
                    <h3>👤 Profil</h3>

                    {% if role == "eleve" %}
                        <p><strong>Nom:</strong> {{ user.nom }} {{ user.prenom }}</p>
                        <p><strong>Classe:</strong> {{ classe.nom }}</p>
                        <h4>👨‍🏫 Professeurs</h4>
                        <ul>
                            {% for prof in professeurs %}
                                <li>{{ prof.professeur.nom }} {{ prof.professeur.prenom }} ({{ prof.matiere.matiere }})</li>
                            {% endfor %}
                        </ul>

                    {% elif role == "professeur" %}
                        <p><strong>Nom:</strong> {{ user.nom }} {{ user.prenom }}</p>
                        <h4>📚 Matières enseignées</h4>
                        <ul>
                            {% for matiere in matieres %}
                                <li>{{ matiere.matiere.matiere }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>
